@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
.banner-container .banner-title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, span {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', 'montserrat', 'Microsoft JhengHei', 'Arial Black', 'LiHei Pro';
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', 'montserrat', 'Microsoft JhengHei', 'Arial Black', 'LiHei Pro';
  letter-spacing: 1px;
  position: relative;
  background-color: #fff;
  font-size: 100%;
  color: #000;
}

dl, dt, dd, ol, ul, li, input {
  margin: 0;
  padding: 0;
}

p, ul {
  text-align: justify;
  line-height: 170%;
}

ul, ol {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

img {
  max-width: 100%;
  border: 0;
  margin: auto;
  display: block;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

h1 {
  font-size: 450%;
  line-height: 1.25;
  font-weight: 700;
}

h2 {
  font-size: 225%;
  margin-bottom: 16px;
}

h3 {
  font-size: 150%;
  letter-spacing: .25px;
  line-height: 1.67;
  color: #29354C;
  margin-bottom: 8px;
  font-weight: 400;
}

h4 {
  font-size: 110%;
}

h5 {
  font-size: 130%;
}

h6 {
  line-height: 1.5;
  font-size: 115%;
  letter-spacing: 0;
}

h4, h5 {
  margin-bottom: 20px;
}

/* function css */
.btn, a.btn {
  cursor: pointer;
  display: block;
  text-align: center;
  max-width: 280px;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.btn:hover, a.btn:hover {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.btn.disabled, a.btn.disabled {
  pointer-events: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-success {
  background-color: #00b900;
}

.btn-success span {
  position: relative;
  display: inline-block;
  text-indent: 28px;
  font-weight: 400;
}

.btn-success span:before {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../img/LINE@.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 50%;
  left: -12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn-primary, a.btn-primary {
  border: solid 1px #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #29354c;
  padding: 8px 0;
}

.btn-primary:hover, a.btn-primary:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.03)), to(rgba(0, 0, 0, 0.03))), #f5db52;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), #f5db52;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary.disabled, a.btn-primary.disabled {
  color: #c0b47a;
}

.btn-secondary {
  background-color: #2c41c2;
}

.btn-secondary.disabled {
  color: #7f8ff2;
}

.btn-info {
  background-color: #fed602;
}

.btn-info.disabled {
  color: #c0b47a;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-dBlue {
  color: #29354c;
}

.text-secondary {
  color: #2c41c2;
}

.text-warning {
  color: #fc4f52;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.small {
  font-size: 90%;
}

.thin {
  font-weight: 400;
}

.bold {
  font-weight: bold;
}

.bg-info {
  background-color: #fee704;
}

.bg-dBlue {
  background-color: #29354c;
}

.mx_1000 {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .mx_1000 {
    padding: 0 40px;
  }
}

@media (max-width: 575px) {
  .mx_1000 {
    padding: 0 20px;
  }
}

.mx_1920 {
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.logo {
  background: url(../img/logo-white.png) no-repeat center;
  width: 166px;
  height: 100%;
  display: block;
  text-indent: -999999999999px;
}

.logo.footer {
  background-image: url("../img/logo-black.png");
}

.container {
  padding-bottom: 120px;
}

@media (max-width: 575px) {
  .container {
    padding-bottom: 100px;
  }
}

.container .section-title {
  color: #29354c;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .container .section-title {
    margin-bottom: 100px;
  }
}

.container .section-title h1 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container .section-title h1 {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .container .section-title h1 {
    font-size: 20px;
    text-align: left;
  }
}

.container .section-title h3 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container .section-title h3 {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .container .section-title h3 {
    font-size: 14px;
    text-align: left;
  }
}

.beforeBg {
  position: relative;
}

.beforeBg:before {
  content: '';
  width: 1920px;
  height: 1316px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right;
  position: absolute;
  right: 0;
  z-index: -1;
}

.afterBg {
  position: relative;
}

.afterBg:after {
  content: '';
  width: 1920px;
  height: 1316px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right;
  position: absolute;
  right: 0;
  z-index: -1;
}

@media (max-width: 575px) {
  .pc {
    display: none !important;
  }
}

.mb {
  display: none !important;
}

@media (max-width: 575px) {
  .mb {
    display: block !important;
  }
}

.signUp-container {
  padding: 60px;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 20px 30px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 20px 30px 0 rgba(0, 0, 0, 0.05);
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .signUp-container {
    padding: 40px 60px;
  }
}

@media (max-width: 768px) {
  .signUp-container {
    padding: 40px 17.5% 60px 17.5%;
  }
}

@media (max-width: 575px) {
  .signUp-container {
    padding: 20px;
  }
}

.signUp-container .signUp-content, .signUp-container .btn-group {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

@media (max-width: 768px) {
  .signUp-container .signUp-content, .signUp-container .btn-group {
    display: block;
  }
}

.signUp-container .signUp-content {
  width: 64.5%;
  padding-right: 7%;
}

@media (max-width: 768px) {
  .signUp-container .signUp-content {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .signUp-container .signUp-content {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .signUp-container .signUp-content p {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .signUp-container .signUp-content p {
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .signUp-container .signUp-content h3 {
    font-size: 2.5vmin;
  }
}

@media (max-width: 768px) {
  .signUp-container .signUp-content h3 {
    font-size: 24px;
  }
}

@media (max-width: 575px) {
  .signUp-container .signUp-content h3 {
    font-size: 16px;
    font-weight: 700;
  }
}

.signUp-container .btn-group {
  width: 36%;
  margin: auto;
}

@media (max-width: 1024px) {
  .signUp-container .btn-group {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .signUp-container .btn-group {
    width: 100%;
  }
}

.signUp-container .btn-group .btn:first-of-type {
  margin-bottom: 16px;
}

/* drawer css */
header {
  width: 100%;
  height: 120px;
  width: 100%;
  height: 120px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 1000;
}

@media (max-width: 768px) {
  header {
    height: 80px;
  }
}

header.boxshow {
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 15px #c4c4c485;
          box-shadow: 3px 3px 15px #c4c4c485;
}

header.boxshow .drawer-hamburger-icon {
  background-color: #000;
}

header.boxshow .drawer-hamburger-icon:before {
  background-color: #000;
}

header.boxshow .drawer-hamburger-icon:after {
  background-color: #000;
}

.drawer h1 {
  margin-top: 36px;
  margin-bottom: 14px;
  width: 166px;
  height: 37px;
  font-size: 100%;
}

@media (max-width: 768px) {
  .drawer h1 {
    margin-top: 24px;
  }
}

.drawer .mobile-title {
  position: absolute;
  z-index: 666;
  top: 0;
  left: 1.3rem;
  line-height: 82px;
  width: calc( 100vw - 68px);
  background-color: #fff;
  opacity: 0;
}

.drawer .drawer-menu-item {
  color: #fff;
}

.drawer .boxshow .logo {
  background-image: url("../img/logo-black.png");
}

.drawer .boxshow .drawer-menu-item {
  color: #222;
}

.drawer.drawer-open .logo {
  display: none;
}

.drawer.drawer-open .mobile-title {
  opacity: 1;
}

.drawer.drawer-open .drawer-menu-item {
  color: #222;
}

/* main css */
.main {
  position: relative;
  padding-top: 120px;
}

@media (max-width: 575px) {
  .main {
    padding-top: 40px;
  }
}

.main:before {
  content: '';
  background-color: #f5f5f5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

/* banner css */
.banner-container {
  position: relative;
}

.banner-container .banner {
  background-image: url(https://www.codingbar.ai/img/win_sh_camp_banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.banner-container .banner-title {
  white-space: nowrap;
}

.banner-container .banner-title h3 {
  margin-bottom: 40px;
}

@media (max-width: 575px) {
  .banner-container .banner-title h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .banner-container .banner-title h1 {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .banner-container .banner-title h1 {
    font-size: 32px;
  }
}

.banner-container .cover {
  background-color: rgba(0, 0, 0, 0.45);
}

/* top-class-section css*/
.top-class-section .afterBg:after {
  top: 33%;
  height: 1040px;
}

@media (max-width: 768px) {
  .top-class-section .afterBg:after {
    top: 10%;
  }
}

.top-class-section .embed-video {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  margin: 20px 0 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.top-class-section .embed-video iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* course-section css */
.course-section .section-title {
  margin-bottom: 0px;
}

/* class_main css */
.class-section .beforeBg:before {
  top: -30%;
}

@media (max-width: 768px) {
  .class-section .beforeBg:before {
    top: -48%;
  }
}

@media (max-width: 575px) {
  .class-section .beforeBg:before {
    top: -30%;
  }
}

.class-section .afterBg:after {
  top: 30%;
  height: 950px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media (max-width: 768px) {
  .class-section .afterBg:after {
    top: 24%;
  }
}

@media (max-width: 575px) {
  .class-section .afterBg:after {
    top: 14%;
    height: 1316px;
  }
}

.class-section .class_main .program_box {
  white-space: nowrap;
  margin-bottom: 100px;
}

.class-section .class_main .program_box:last-of-type {
  margin-bottom: 0px;
}

@media (max-width: 575px) {
  .class-section .class_main .program_box:last-of-type {
    margin-bottom: 60px;
  }
}

.class-section .class_main .box_content {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  white-space: normal;
}

@media (max-width: 575px) {
  .class-section .class_main .box_content {
    width: 100%;
    margin-bottom: 32px;
  }
}

.class-section .class_main .box_content .title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .class-section .class_main .box_content .title {
    font-size: 5vw;
  }
}

@media (max-width: 575px) {
  .class-section .class_main .box_content .title {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .class-section .class_main .box_content .title.text-secondary {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .class-section .class_main .box_content h6:not(.text-secondary) {
    font-size: 14px;
  }
}

.class-section .class_main .box_content.card {
  background-color: #fff;
  max-width: 468px;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 4px 4px;
}

.class-section .class_main .box_content.card .synopsis {
  min-height: auto;
  padding: 24px;
  line-height: 1.5;
}

@media (max-width: 575px) {
  .class-section .class_main .box_content.card .synopsis {
    padding: 16px 12px;
  }
}

.class-section .class_main .box_content.content {
  padding-left: 60px;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .class-section .class_main .box_content.content {
    white-space: normal;
    padding-left: 45px;
  }
}

@media (max-width: 768px) {
  .class-section .class_main .box_content.content {
    padding-left: 20px;
  }
}

@media (max-width: 575px) {
  .class-section .class_main .box_content.content {
    padding: 0;
  }
}

.class-section .class_main .box_content.content .btn {
  margin: 0;
  margin-bottom: 16px;
}

@media (max-width: 575px) {
  .class-section .class_main .box_content.content .btn {
    margin: auto;
    margin-bottom: 16px;
  }
}

/* provide-section css */
.provide-section .beforeBg:before {
  top: 23%;
  height: 1024px;
}

@media (max-width: 768px) {
  .provide-section .beforeBg:before {
    top: 12%;
  }
}

.provide-section .afterBg:after {
  top: 76.5%;
  height: 1020px;
}

@media (max-width: 768px) {
  .provide-section .afterBg:after {
    top: 66%;
  }
}

.provide-section .provide-box {
  margin-bottom: 120px;
}

@media (max-width: 575px) {
  .provide-section .provide-box {
    margin-bottom: 100px;
  }
}

.provide-section .provide-box:first-of-type {
  margin-top: 120px;
}

.provide-section .provide-box:last-of-type {
  margin-bottom: 0px;
}

.provide-section .provide-box:nth-of-type(even) .provide_img img {
  margin-right: 0;
}

@media (max-width: 575px) {
  .provide-section .provide-box:nth-of-type(even) .provide_img img {
    margin: auto;
  }
}

.provide-section .provide-box:nth-of-type(odd) .provide_img img {
  margin-left: 0;
}

@media (max-width: 575px) {
  .provide-section .provide-box:nth-of-type(odd) .provide_img img {
    margin: auto;
  }
}

.provide-section .provide_content {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 575px) {
  .provide-section .provide_content {
    display: block;
    width: 100%;
  }
}

.provide-section .provide_content .title {
  font-size: 48px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .provide-section .provide_content .title {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .provide-section .provide_content .title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .provide-section .provide_content h3 {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .provide-section .provide_content h3 {
    font-size: 14px;
  }
}

.provide-section .provide_img {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 575px) {
  .provide-section .provide_img {
    display: block;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .vendor-content {
    text-align: center;
  }
}

.vendor-content img {
  display: inline-block;
  width: calc(100% / 6 - 20px);
}

@media (max-width: 1024px) {
  .vendor-content img {
    width: calc(100% / 4 - 20px);
  }
}

@media (max-width: 575px) {
  .vendor-content img {
    width: calc(100% / 2 - 10px);
  }
}

/* date_main css */
.date_main {
  text-align: center;
  margin-bottom: 24px;
  white-space: nowrap;
}

.date_main + .section-title {
  margin-bottom: 120px;
}

.date_main ul.time_list {
  width: calc(100% / 2 - 120px);
  display: inline-block;
  margin-right: 64px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .date_main ul.time_list {
    width: 50%;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .date_main ul.time_list {
    width: 100%;
    display: block;
  }
}

.date_main ul.time_list:last-of-type {
  margin-right: 0;
}

.date_main ul.time_list li {
  padding: 10px 0;
  border-bottom: solid 1px #d4d6d9;
}

.date_main ul.time_list i {
  position: relative;
  font-style: normal;
  margin-right: 16px;
}

.date_main ul.time_list i::after {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  right: -6px;
}

/* note-section css */
.note-section .note-title {
  font-size: 32px;
  line-height: 1.5;
}

.note-section p {
  font-size: 16px;
  margin-bottom: 25px;
  font-weight: 400;
  line-height: 1.5;
}

.note-section h6 {
  font-size: 20px;
}

@media (max-width: 575px) {
  .note-section h6 {
    font-size: 16px;
  }
}

.note-section .qa-content {
  width: 80%;
  margin: auto;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .note-section .qa-content {
    width: 100%;
  }
}

.note-section .qa-content h6 {
  padding: 10px 0;
}

.note-section .qa-content p {
  margin-bottom: 8px;
}

.note-section .qa-content div.text-black {
  padding-top: 10px;
}

.note-section .note-qa {
  border-bottom: solid 1px #d4d6d9;
}

.note-section .note-qa .ques {
  cursor: pointer;
}

.note-section .note-qa .ans {
  display: none;
}

/* footer css */
#footer {
  padding-top: 60px;
  padding-bottom: 100px;
  color: #29354c;
}

#footer .logo {
  padding-top: 60px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  #footer .logo {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  #footer #pc-info {
    display: none !important;
  }
}

#footer #mb-info {
  display: none !important;
}

#footer #mb-info li {
  cursor: pointer;
}

@media (max-width: 768px) {
  #footer #mb-info {
    display: block !important;
  }
}

#footer .footer-info {
  float: left;
  width: 240px;
}

#footer .footer-info ul {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

@media (max-width: 768px) {
  #footer .footer-info ul {
    display: block;
    margin-left: 0;
  }
  #footer .footer-info ul:first-of-type {
    border-bottom: none;
  }
}

@media (max-width: 768px) {
  #footer .footer-info ul > div {
    display: none;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  #footer .footer-info ul li h6 {
    font-size: 12px;
    display: block;
    margin-bottom: 16px;
  }
}

#footer .footer-info.info2 {
  width: calc(100% - 275px);
  float: right;
}

#footer .footer-info.info2 h6 {
  margin-bottom: 6px;
  clear: both;
}

@media (max-width: 768px) {
  #footer .footer-info.info2 {
    text-align: left;
    width: 100%;
    padding-top: 16px;
    padding-left: 0;
  }
}

#footer .footer-info.info2 ul {
  width: 25%;
  float: left;
}

@media (max-width: 768px) {
  #footer .footer-info.info2 ul li h6 {
    display: none;
  }
}

@media (max-width: 768px) {
  #footer .footer-info.info2 ul {
    width: 100%;
    border-bottom: 1px solid #000;
  }
}

#footer .openNtc {
  display: none;
}

@media (max-width: 768px) {
  #footer .openNtc {
    display: block;
    position: relative;
    padding: 8px 0;
    font-size: 14px;
  }
  #footer .openNtc:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../img/arrow.png);
    -webkit-transition: .25s all;
    transition: .25s all;
  }
}

#footer .openNtc.active:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
/*# sourceMappingURL=master.css.map */